@use "./src/scss/abstracts/colors.scss" as *;
.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}
.about-h {
  margin-top: 30px;
  color: $green;
}
.about-d {
  max-width: 900px;
  margin-bottom: 400px;
}
.about-img {
    margin-top: 100px;
}