@use "./src/scss/abstracts/colors.scss" as *;
.category-wrapper {
  background-color: $pink;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-self: flex-start;
  height: 650px;
  padding: 32px;
  padding-inline: 30px 50px;
  margin-bottom: 150px;
}
.category-heading {
  font-family: "Zen Loop", cursive;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
  color: #f2f1f1a7;
}
.material-symbols-outlined {
  color: $white;
  display: block;
}
.category-container {
  display: flex;
}

.category {
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
}
// mobile
@media screen and (max-width: 768px) {
  .category-wrapper {
    margin-bottom: 5px;
    height: 700px;
  }
}
