@use "./src/scss/abstracts/colors.scss" as *;
.poseInfo {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background-color: $green;
}
.pose {
    margin-top: 100px;
}
.big {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 950px;
  height: 50%;
  gap: 20px;
  margin-inline: 100px 150px;
}
.green {
  color: $green;
}
.pose-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

// mobile

@media screen and (max-width: 768px){
  .poseInfo {
    flex-direction: column;
    margin-top: 0;
    .yoga-image {
      max-width: 150px;
      margin-inline: 20px;
    }
  }
  .big {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 400px;
  gap: 20px;
  margin-inline: 10px;
}
}