.search {
  width: 550px;
  height: 80px;
  margin-inline: 0;
  border-radius: 8px;
  font-size: 20px;
  outline: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 20px;
  border: none;
  padding: 25px;
}
::placeholder {
  font-family: "Zen Loop", cursive !important;
  background-image: url(../assets/search.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0;
  margin-bottom: 2px;
  padding-inline: 20px 0;
  color: #000 !important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
}
.main-container-welcome {
  display: flex;
  flex-direction: column;
}
// mobile
@media screen and (max-width: 768px) {
  .searchAndImg {
    flex-direction: column;
    margin-inline: 0;
    .search {
      margin-inline: 10px 30px;
      margin-bottom: 100px;
      width: 350px;
    }
    .yoga-image {
      display: none;
    }
  }
}
