@use "./src/scss/abstracts/colors.scss" as *;

.categoriesAndImg {
  display: flex;
  flex-direction: column;
  .yoga-image {
    margin-inline: 40px;
  }
}

.yoga-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-inline: 30px -200px;
  flex-wrap: wrap;
  margin-top: -50px;
  gap: 30px;
}
.small {
  font-size: 16px;
}

.searchAndImg {
  display: flex;
  margin-inline: 250px;
  gap: 100px;
}
 

.yoga-image {
  max-width: 300px;
  max-height: 200px;
  transform: translateY(-80px);
  margin-bottom: 0;
  margin-inline: 0 150px;
  animation: fade-in linear;
  animation-timeline: view(50px);
}

.yoga-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  overflow: hidden;
  background-color: $white;
  padding: 16px 30px;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-inline: 10px;
}

.pose-name {
  color: #000;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
.text {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  width: 200px;
  height: 55px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

 

